.header {
    text-align: center;
    font-size: 45px;
    margin: 10px 20px 20px 20px;
    font-weight: 300;
    border-bottom: 1px solid;
    letter-spacing: 4px;
}

.card-wrapper {
    border: 2px solid #e3d61e;
    border-radius: 25px;
    margin: 20px;
}

.cards {
    padding: 80px;
}

img {
    height: 140px;
    width: 90px;
    margin: 10px;
}

.player-wrapper {
    width: 50%;
    background-color: #0f570b;
    color: #ededed;
    margin: 0 30px 30px 30px;
    border-radius: 25px;
    text-align: center;
}

.player {
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 1px;
}
.score {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.game {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.wins {
    border-bottom: 1px solid;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
}

.win-table {
    margin-right: 20px;
    border: 1px solid;
    border-radius: 25px;
}

.player-wins {
    margin: 10px;
    font-weight: 200;
    letter-spacing: 1px;
}